.button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e7d995;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    color:#504525;
    transition: 0.3s;
}

.button:hover{
    background-color: #c3a75a;
    cursor: pointer;
}

.button img{
    width: 20px;
}