footer .row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

footer a{
    cursor: pointer;
}

footer img{
    width: 50px;
    transition: 0.3s;
}

footer img:hover{
    opacity: 50%;
}