header {
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #201f1f;
}

header section article{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header section img{
    width: 40px;
}

header section nav ul li {
    margin: 0 0 0 50px;
}

header section nav ul li a{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: white;
    transition: 0.3s;
}

header section nav ul li a:hover{
    color:#e7d995
}