@media (max-width: 1250px){
    .container {
        width: 1050px;
    }
}

@media (max-width: 1100px){
    .container {
        width: 900px;
    }
}

@media (max-width: 950px){
    .container {
        width: 700px;
    }
}

@media (max-width: 750px){
    main {
        padding-top: 60px;
    }

    .container {
        width: 500px;
    }

    .imgs {
        width: 200px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }

    ::-webkit-scrollbar{
        width: 5px;
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    header section img{
        width: 30px;
    }

    header .row {
        flex-direction: row;
        justify-content: space-between;
    }

    header section nav ul li {
        margin: 0 0 0 15px;
    }

    header section nav ul li a {
        font-size: 15px;
    }

    .row article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    footer .row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 60px;
    }

    footer img {
        width: 40px;
    }
}

@media (max-width: 550px){
    .container {
        width: 320px;
    }

    header section img{
        width: 25px;
    }

    header section nav ul li {
        margin: 0 0 0 10px;
    }

    header section nav ul li a {
        font-size: 11px;
    }
}

@media (max-width: 350px){
    .container {
        width: 280px;
    }
    header section nav ul li {
        margin: 0 0 0 6px;
    }
    header section nav ul li a {
        font-size: 10.5px;
    }
}